@import "settings";
@import "foundation"; 
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@mixin vertical-align {     // костыль для header
	position: relative;
	top: rem-calc(20);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.row-fluid {
	@include grid-row($behavior: nest-collapse);
	max-width: $max-width;
	min-width: $min-width;
	margin: $column-gutter/2 auto;
	}
#logo {
	@include vertical-align();
	}
#tel {
	font-size: $bigger-font-size;
	margin-bottom: 0px;
	line-height: $bigger-font-size;
	a {
		text-decoration: none;
		}
	}
#top-nav {
	@include vertical-align();
	float: left;
	position: absolute;     // для мобильных экранов
	}
.inline-list {
	> li {
		margin-#{$default-float}: 0px;
		margin-#{$opposite-direction}: $inline-list-default-float-list-margin;
		}
	> li:last-child {
		margin-#{$opposite-direction}: 0px;
		}
	}
@media #{$medium-up} { 
	input[type="text"] {
		margin-bottom: 0px;
		}
	}
#search-button {
	@include button($padding:rem-calc(8), $bg: darken($main-color, 20%));
	height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
	margin-bottom: 0px;
	&.postfix {
		font-size: $bigger-font-size;
		}
	}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    $black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    $black;
}
.top-bar {
	margin-bottom: $column-gutter/2;
	}
@media #{$medium-up} { 
	@for $i from 1 through 20 {
		#main-nav > li:first-child:nth-last-child(#{$i}),
		#main-nav > li:first-child:nth-last-child(#{$i}) ~ li {
			@if $i > 10 {
				width: percentage(1/10)  							// Максимум 10 в ряду
				}
			@else {
				width: percentage(1/$i)
				}
			}
		}
	}
.subtitle {
	font-size: rem-calc(21);
	line-height: rem-calc(22);
	}
.accordion {
	margin-left: 0px;
	margin-bottom: $column-gutter/2;
	.accordion-navigation {
		@include accordion-navigation();
		position: relative;
		> a {
			text-decoration: none;
			padding: 0px $accordion-navigation-padding;
			&:after {
				content: "+";
				position: absolute;
				top: -1px;
				right: 10px;
				}
			}
		&.active > a:after {
			content: "\2013";
			position: absolute;
			top: -1px;
			right: 11px;
			}
		}
	}
@for $i from 1 through 5 {
	.accordion > .accordion-navigation:nth-child(#{$i}) > a {
		background-color: darken($accordion-navigation-bg-color, ($i * 7%));
		}
	}
.filters {
	> li {
		position: relative;
		> a {
			text-decoration: none;
			padding-right: $accordion-navigation-padding;
			padding-left: $accordion-navigation-padding/2;
			&:before{         // чекбокс
				content: "";
				width: $column-gutter/2;
				height: $column-gutter/2;
				position: absolute;
				top: 7px;
				left: -13px;
				background-color: $main-color;
				}
			&.checked:after {   // js-галочка
				content: "\2717";
				position: absolute;
				top: -1px;
				left: -12px;
				}
			}
		}
	}
@media #{$small-only} {
	.filters {
		@include inline-list;
		}
	}
ul.no-bullets {
	@extend .no-bullet;
	margin-left: rem-calc(16);
	}
[class*="block-grid-"] > .sort {
	padding-bottom: $form-spacing/4;
	}
.sort-button {
	@include button($bg: $main-color);
	margin-bottom: $form-spacing;
	padding: 3px 25px 3px 5px;
	font-size: rem-calc(14);
	line-height: $form-spacing;
	float:right;
	width: 65px;
	text-align: left;
	&:after {
		content: "V";
		position: absolute;
		right: 0px;
		top:0px;
		background-color: darken($main-color, 20%);
		line-height: rem-calc(22);
		width: 22px;
		height: 22px;
		text-align: center;
		}
	}
.f-dropdown a {
	text-decoration: none;
	}
.product img {
	width: 100%;
	margin-bottom: $column-gutter/2;
	}
p.footer {
	font-size: rem-calc(14);
	}
#footer a {
	text-decoration: none;
	}
#footer-last {
	background-color: $main-color;
	padding-left: $column-gutter/2;
	}